<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>US DOE Facility Data</title>
    <style>
        td {
            word-wrap: break-word;
            max-width: 160px;
        }
    </style>
</head>
<body>
<h1>DOE Facilities List</h1>
<p>This page contains location data for facilities under the authority of the U.S. Department of Energy.  These sites are
for scientific research, and they are accessible via the private sector.</p>
<p>For more information, click <a href="https://catalog.data.gov/dataset/doe-user-facilities-and-rd-equipment" target="_blank" rel="noopener noreferrer">here</a></p>
{% block content %}
{% endblock %}
<p>Copyright 2021, altv1310</p>
</body>
</html>